<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Executor.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Executor.My.MySettings>
            <setting name="ApiKey" serializeAs="String">
                <value>Your API KEY from openai</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>Your Name</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value>LANG</value>
            </setting>
            <setting name="tokens" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="model" serializeAs="String">
                <value>gpt-3.5-turbo-16k</value>
            </setting>
        </Executor.My.MySettings>
    </userSettings>
</configuration>
